body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    background-color: black;
    color: white;
    min-height: 100vh; /* Ensures the body covers the full height of the viewport */
}

section {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    padding: 10px;
    font-size: 2.5rem; /* Using rem units for better responsiveness */
    font-weight: 300;
}

.output {
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 15px;
    flex-basis: 100%;
    text-align: right;
}

.btn {
    flex: 1 0 21%; /* Flex-grow: 1, Flex-shrink: 0, Flex-basis: 21% */
    margin: 5px;
    font-size: 2rem; /* Using rem units for better responsiveness */
    height: 72px;
    border: 0;
    border-radius: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.light {
    background-color: #585757;
    color: white;
}

.light:hover {
    background-color: #494848;
}

.blue {
    background-color: #5b6feb;
    color: white;
}

.blue:hover {
    background-color: #4f65f0;
}

.black {
    background-color: #212121;
    color: white;
}

.black:hover {
    background-color: #000000;
}